*{
    padding: 0;
    margin: 0;
}

.d-flex
{
    background-color: black;
}

.container
{
    /* display: flex;
    justify-content:  space-around; */
    background-color: black;
}
.card-body
{
    background-color: rgb(72, 72, 72);
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0px;
    color: honeydew;
    overflow-wrap: break-word;
    background-color: rgb(0 0 0);
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
.card-body
{
    display: flex;
    justify-content: center;
}
.resultValueSection
{
    display: flex;
}